@font-face {
    font-family: "bigcaslon";
    src: url(assets/BigCaslon.ttf)
}


body {
    background-color: #222222;
    font-family: apertura, sans-serif;
    color: wheat;
}


h1  {font-weight:700;
    font-size: 40px;
}


h2 {font-weight: 700;
    font-size: 70px;
    line-height: 1em;
    text-align: right;
}


h3 {line-height: 1.5em;
    font-weight: 400;
    letter-spacing: .5px;
}


h4 {
    font-weight:700;
    font-size: 40px;
}


.title {   
    padding-top: 10px;
    padding-right: 600px;
    padding-bottom: 20px;
    padding-left: 30px;
  }



.content {   
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 600px;
  }



.other {
    color: yellowgreen;
    font-weight: 300;  
    padding-top: 20px;
    padding-right: 600px;
    padding-bottom: 50px;
    padding-left: 30px;
  }



#writer {
    font-family: apertura, sans-serif italic;
}


a:link {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: underline;
  }
  
  
  a:visited {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
  }
  

  a:hover {
    color:salmon;
    background-color: transparent;
    text-decoration: underline;
  }
 
  
  a:active {
    color:yellowgreen;
    background-color: transparent;
    text-decoration: underline;
  }


  .triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 40px solid yellowgreen;
}
  