@font-face {
    font-family: "bigcaslon";
    src: url(assets/BigCaslon.ttf)
}


body {
    background-color:tomato;
    font-family: apertura, sans-serif;
    color: wheat;
}


h1  {font-weight:700;
    font-size: 40px;
}


h2 {font-weight: 700;
    font-size: 70px;
    line-height: 1em;
    text-align: right;
}


h3 {line-height: 1.5em;
}


h4 {
    font-weight:700;
    font-size: 40px;
}


.title {   
    padding-top: 10px;
    padding-right: 500px;
    padding-bottom: 20px;
    padding-left: 30px;
  }


.content {   
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 500px;
  }


#writer {
    font-family: apertura, sans-serif italic;
}


a:link {
    color: palegreen;
    background-color: transparent;
    text-decoration: none;
    font-style:italic;
  }
  
  
  a:visited {
    color: 222222;
    background-color: transparent;
    text-decoration: none;
  }
  

  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
 
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }



  