@font-face {
    font-family: "bigcaslon";
    src: url(assets/BigCaslon.ttf)
}


body {
    background-color:palegreen;
    font-family: apertura, sans-serif;
}


h1  {font-weight:700;
    font-size: 40px;
}


h2 {font-weight: 700;
    font-size: 70px;
    line-height: 1em;
}


h3 {line-height: 1.5em;
}


h4 {
    font-weight:700;
    font-size: 40px;
}

.content {   
    padding-top: 20px;
    padding-right: 400px;
    padding-bottom: 50px;
    padding-left: 30px;
  }


#writer {
    font-family: apertura, sans-serif italic;
    color:violet;
    font-style: italic;

}





  